* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  position: relative;

}
/* container end */
.container {
    width: 100vw;
    height: 100vh;
    background-image: url(images/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    color: white;
    background-color: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;

}

.center p {
    color: #5cdb94;
    font-size: 53px;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    top: 24%;
    left: 24%;
}

.center button {
    width: 30%;
    height: 60px;
    position: relative;
    border:2px solid #5cdb94;
    background-color: black;
    font-family: Arial;
    font-weight: 500;
    top: 28%;
    left: 24%;
    color: #5cdb94;
}
.center button:hover{
    background-color: #2d9d5e;
    color: rgb(255, 0, 0);
}
.center h3{
    position: relative;
    top: 29%;
    left: 24%;
    font-family: sans-serif;
    font-weight: 600;
}
/* container end */
/* service start */
.service{
    width: 100%;
    height: 200px;
    font-family: sans-serif;
}
.service h2{
  left: 40%;
  top: 100px;
  font-size:40px;
 font-weight: 500;
 letter-spacing: 5px;
}
.service p{
top:110px;
left: 10%;
bottom: 100px;
}
.box-container{
    width: 100%;
    height: 100vh;
    padding:10px;
}
.box1{
    width: 46.5%;
    height: 230px;
    float: left;
    margin: 20px;
    border-radius: 15px;
    background-image: url(images/web_development.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
   
   
}
span{
    color:#2d9d5e;
}
.box{
    background-color: black;
    height: 230px;
    border-radius: 15px;
    opacity: 0.7;
    color: white;
}
.box h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
.box p{
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px 30px 0 30px;
    line-height: 20px;

}
.box img{
    padding: 30px 30px 0 30px;
}

.box2{
    width: 46.5%;
    height: 230px;
    float: right;
    margin: 20px;
    border-radius: 15px;
    background-image: url(images/android_development.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

}
.box3{
    width: 46.5%;
    height: 230px;
    float: left;
    margin: 20px;
    border-radius: 15px;
    background-image: url(images/desktop_softwares.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.box4{
    width: 46.5%;
    height: 230px;
    float: right;
    margin:20px;
    border-radius: 15px;
    background-image: url(images/unity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;


}
/* service end */
/* recent project start */
.project{
    width: 100%;
    height: 400px;
}
.project h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 35%;
    font-weight: 400;
    padding: 180px 400px;

}
.pro-box{
    width:80%;
    height: 600px;
    /* background-color: red; */
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
}
.upper{
    width: 100%;
    height: 200px;
    background-color: #215f3c;
    color: white;
    padding: 30px;
    opacity: 0.8;
    border-radius:18px 18px  0 0;
}
.upper h3{
    font-size: 45px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 17px;
}
.upper p{
    line-height: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
b{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.lower{
    width: 100%;
    height: 300px;
    background-image: url(images/news.jpg);
    border-radius: 0 0 15px 15px;
   
}
.game{
    width: 100%;
    height: 300px;
    background-image: url(images/game.jpg);
    border-radius: 0 0 15px 15px;
   
}
.blocker{
    width: 100%;
    height: 300px;
    background-image: url(images/website_blocker.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 15px 15px;
   
}
.android{
    width: 100%;
    height: 300px;
    background-image: url(images/android_showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 15px 15px;
   
}
.pic{
    width: 100%;
    height: 300px;
    background-image: url(images/pic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 15px 15px;
   
}

/* recent project end */